/*styles for my resume*/
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight:400;
}
/*container of whole site*/
.container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
/* p tags */
.description {
    margin-bottom:10px;
    margin-top:10px;
    margin-right:0;
    margin-left:0;
}
/*contact links at top*/
.menu {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align:center;
}
.menu li {
    display:inline;
}
/*name at top*/
/*to center, need the margin:0 auto*/
#name {
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    color:#33485e;
    border-bottom:1px solid #33485e;
    width:60%;
    min-width:300px;
    margin:0 auto;
}
/*personal title*/
#title {
    color:#33485e;
    text-transform:uppercase;
    font-size:1.5em;
    font-weight:600;
    text-align:center;
    margin-bottom:0;
    margin-top:20px;
    margin-right:0;
    margin-left:0;
}
/*section titles*/
#sectionheader {
    font-size:1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
    margin-bottom:10px;
    margin-top:20px;
    margin-right:0;
    margin-left:0;
    width:70%;
    min-width:300px;
}
/*job titles*/
/*changed from h4*/
.jobtitle {
    font-weight:600;
    font-size:1.5em;
}
/*companies/organizations*/
/*changed from h4*/
.organization {
    font-size:1.25em;
}
/*dates*/
.date {
    font-size:1em;
    font-style:italic;
    margin-bottom:0px;
    margin-top:2px;
    margin-right:0;
    margin-left:0;
}
/*educations & skills lists*/
#degrees {
    font-size:1em;
    margin-bottom:0px;
    margin-top:5px;
    margin-right:0;
    margin-left:0;
}
#do {
    font-size:1em;
    margin-bottom:0px;
    margin-top:5px;
    margin-right:0;
    margin-left:0;
}
.top {
    width:60%;
    min-width:300px;
    margin:0 auto;
    margin-bottom:30;
}